* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #807e7e;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* header styles : */
header {
  background-color: rgb(36, 32, 32);
  min-height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.3),
    0 4px 6px -4px rgba(255, 255, 255, 0.2);
  font-family: "Poppins", sans-serif;
}
header > a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 80px;
}
header > a {
  transition: transform 0.2s ease-in-out;
}
header > a:hover {
  transform: scale(1.1);
  color: #dfe0e3;
}
.fa-book {
  font-size: 30px;
}
/* form styles : */
main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new-book {
  font-size: 25px;
  background-color: inherit;
  border: none;
  font-weight: bold;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  color: white;
}
.new-book:hover {
  background-color: #322f2f;
}
#book-form {
  width: 220px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #ffffff9b;
  border-radius: 15px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
input {
  outline: none;
  border: none;
  border-radius: 15px;
  padding-left: 10px;
  height: 18%;
  font-weight: bold;
}
form > #submit {
  width: 50%;
  padding: 0;
  height: 35px;
  background-color: greenyellow;
  transition: background-color 0.4s ease;
  cursor: pointer;
}
form > #submit:hover {
  background-color: rgb(9, 255, 0);
}
label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

/* new book styles */
.show-book {
  margin: 40px;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #ffffff9b;
  border-radius: 15px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  font-size: 20px;
  font-weight: bold;
}
input {
  outline: none;
  border: none;
  border-radius: 15px;
  padding-left: 10px;
  height: 18%;
  font-weight: bold;
}
.show-book > button {
  outline: none;
  border: none;
  border-radius: 15px;
  height: 18%;
  font-weight: bold;
  font-weight: bold;
  width: 60%;
  padding: 0;
  transition: background-color 0.4s ease;
  cursor: pointer;
}
.remove-button {
  background-color: rgb(235, 28, 28);
}
.books-container {
  display: flex;
  flex-wrap: wrap;
}
/* footer styles : */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
}
.fa-github {
  color: white;
  font-size: 20px;
  transition: transform 0.5s ease-in-out;
}
.fa-github:hover {
  transform: rotate(360deg) scale(1.3);
}
